body {
    margin: 0px;
}

.navi {
    justify-content: right;
}

.landing {
    background-image:url("../assets/bball.jpg");
    height: 550px;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
}

#landingText {
    color: white;
    font-size: 50px;
    padding: 230px 0px 230px 380px;
    margin: 0px;
}

.homeStuff {
    height: 340px;
    color: white;
    
}

#Mission {
    background-image:url("../assets/mission2.jpg");
    color: black;
}

#WhoWeAre {
    background-image:url("../assets/whoweis2.jpg");
}

#Vision {
    background-image:url("../assets/bbvision.jpg");
    color: black;
}

.TeamLabel {
    padding: 20px 65px;
}

.TeamInfo {
    margin: 20px 70px;
    font-weight: 700;
}

.userlink {
    padding-left: 10px;
    padding-right: 10px;
}

.link:hover {
    background-color: white !important;
    transition: 0.6s;
}